MainScene {
	-fx-font-family: Consolas;
}

HBox {
	-fx-padding: 5 0 0 0;
}

Label {
	-fx-font-size: 12;
	
	-fx-wrap-text: true;
	-fx-max-width: 325;
	-fx-min-width: 80;
}

.title {
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

#time_sl {
	-fx-font-size: 32;
}

#menu_sgp {
	-fx-background-color: 
		linear-gradient(to right, rgba(245, 245, 245, 0.25), rgba(245, 245, 245, 1.0));
}

Button {
	-fx-padding: 5px 10px;
	
	-fx-background-color: rgba(175,175,175,0.35);
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	
	-fx-font-weight: bold;
}

Button:hover {
	-fx-cursor: hand;
	
	-fx-background-color: rgb(155,155,155,0.75);
}

.warn_button {
	-fx-text-fill: gray;
}

.warn_button:hover {
	-fx-background-color: rgb(255,100,100);
	
	-fx-text-fill: white;
}