ProjectsScene {
	-fx-max-width: 300;
}

HBox {
	-fx-padding: 10 0 0 0;
}

Label {
	-fx-font-size: 12;
	
	-fx-wrap-text: true;
	-fx-max-width: 300;
	-fx-min-width: 100;
}

.half_title {
	-fx-font-weight: bold;
	-fx-font-size: 16;
}

.title {
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

GridPane {
	-fx-padding: 10 0 0 0;
}

TextField {
	-fx-min-width: 275;
}

.error {
	-fx-text-fill: red;
}

.warn_button:hover {
	-fx-cursor: hand;
	
	-fx-background-color: 
		rgba(225,100,100,1), 
		linear-gradient(rgba(255,150,150,1), rgba(255,100,100,1));
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3;
	
	-fx-text-fill: white;
}